.header{
    height: 40px;
    width: 100%;
    background-color: red;
    text-align: center;
    font-family: "Roboto", serif;
    text-decoration: none;
    color: white;
}

.menu-item{
    text-decoration: none;
    color: white;
}

.menu-item:hover{
    color: black;
}